<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="Name.cshtml" method="post">
        Imię:<input type="text" name="name"><br />
        <input type="submit">
    </form>
</body>
</html>
